body {
    margin:0;
    font-family:"Roboto", arial, sans-serif;
    background: #e4e4e4;
}
a {
    color:inherit;
    text-decoration: none;
}
.no-pad {
    padding: 0;
}
.hdr {
    background: #e4e4e4;
}
.logo {
    padding: 8px;
    font-size: 4em;
    box-sizing: border-box;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}
.sbxcont input {
    width: 100%;
    box-sizing: border-box;
    padding: 26px;
    /* border-radius: 6px; */
    border: none;
    font-size: 2.5em;
    font-weight: 300;
    box-shadow: 9px 9px 14px #ececec;
}
.result {
    width: 95%;
    margin: auto;
    padding: 16px 30px;
}
.result h1 {
    font-weight: 400;
}
footer {
    position: relative;
    bottom: 0;
    padding: 20px;
    text-align: center;
}
